<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="box" th:fragment="content">
        <div class="box-title">
            <i class="icon-tags"></i>
            <span th:text="#{label.category}">Category</span>
        </div>
        <div class="box-content">
            <th:block th:each="category : ${categories}">
                <a th:href="@{'/' + ${category.name}}" class="inline-item">
                    <span th:text="${category.name}"></span>
                </a>
            </th:block>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
        </div>
    </div>
</body>

</html>