<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="box" th:fragment="content">
        <div class="box-title">
            <i class="icon-tag"></i>
            <span th:text="#{label.category}">Category</span>
        </div>
        <div class="box-content">
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
            <a href="category" class="inline-item">
                <span>category</span>
            </a>
        </div>
    </div>
</body>

</html>