<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<div class="box box-main" th:fragment="content (page, url)">
		<div class="box-title">
			<i class="icon-doc-text"></i>
			<span th:text="#{label.post}">Post</span>
		</div>
		<div class="box-content">
			<th:block th:each="post : ${page}">
				<div class="post-item">
					<h4>
						<a th:href="@{${post.id} + '/view'}" th:text="${post.title}"></a>
					</h4>
					<h5>
						<i class="fa fa-calendar"></i><span th:text="${#dates.format(post.createdDate, 'dd/MM/yyyy')}"></span>
					</h5>
					<p th:text="${post.description}"></p>
				</div>
			</th:block>
			<div class="post-item">
				<h4>
					<a href="111">Who's using Thymeleaf? </a>
				</h4>
				<h5>
					<i class="icon-calendar"></i><span>24/12/2018</span>
				</h5>
				<p>
					Thymeleaf is a modern server-side Java template engine for both web and standalone environments.

					Thymeleaf's main goal is to bring elegant natural templates to your development workflow — HTML that can be
					correctly displayed in browsers and also work as static prototypes, allowing for stronger collaboration in
					development teams.

					With modules for Spring Framework, a host of integrations with your favourite tools, and the ability to plug in
					your own functionality, Thymeleaf is ideal for modern-day HTML5 JVM web development — although there is much more
					it can do.
				</p>
			</div>
			<div class="post-item">
				<h4>
					<a href="111">Who's using Thymeleaf? </a>
				</h4>
				<h5>
					<i class="icon-calendar"></i><span>24/12/2018</span>
				</h5>
				<p>
					Thymeleaf is a modern server-side Java template engine for both web and standalone environments.

					Thymeleaf's main goal is to bring elegant natural templates to your development workflow — HTML that can be
					correctly displayed in browsers and also work as static prototypes, allowing for stronger collaboration in
					development teams.

					With modules for Spring Framework, a host of integrations with your favourite tools, and the ability to plug in
					your own functionality, Thymeleaf is ideal for modern-day HTML5 JVM web development — although there is much more
					it can do.
				</p>
			</div>
			<div class="post-item">
				<h4>
					<a href="111">Who's using Thymeleaf? </a>
				</h4>
				<h5>
					<i class="icon-calendar"></i><span>24/12/2018</span>
				</h5>
				<p>
					Thymeleaf is a modern server-side Java template engine for both web and standalone environments.

					Thymeleaf's main goal is to bring elegant natural templates to your development workflow — HTML that can be
					correctly displayed in browsers and also work as static prototypes, allowing for stronger collaboration in
					development teams.

					With modules for Spring Framework, a host of integrations with your favourite tools, and the ability to plug in
					your own functionality, Thymeleaf is ideal for modern-day HTML5 JVM web development — although there is much more
					it can do.
				</p>
			</div>
			<div class="pager clearfix">
				<a class="btn btn-sm btn-secondary float-left" th:href="@{${url}(page=${page.number-1},size=${page.size})}"
				 th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
					<i class="icon-left-open-outline"></i>
					<span th:text="#{label.previous}">Previous</span>
				</a>
				<a class="btn btn-sm btn-secondary float-right" th:href="@{${url}(page=${page.number+1},size=${page.size})}"
				 th:classappend="${page.hasNext()} ? '' : 'disabled'">
					<span th:text="#{label.next}">Next</span>
					<i class="icon-right-open-outline"></i>
				</a>
			</div>
		</div>
	</div>
</body>

</html>