<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content (url)" th:remove="tag">
		<form class="float-left" th:action="${url}" method="get" onsubmit="return toolbarSearch(this);" autocomplete="off">
			<input class="form-control keyword" name="keyword" th:value="${keyword}" maxlength="40" placeholder="keyword" th:placeholder="#{label.keyword}"
			 type="text">
			<button type="submit" class="btn btn-sm btn-light">
				<i class="icon-search"></i><span>Search</span>
			</button>
			<a class="btn btn-sm btn-light" th:href="${url}">
				<i class="icon-arrows-cw"></i><span>Refresh</span>
			</a>
		</form>
	</div>
</body>

</html>