<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: content(title=#{application.name} + ' : ' + #{menu.role})">
	<title>Bloghu</title>
	<link href="/image/favicon.ico" rel="shorcut icon" />
	<link href="/css/main.css" rel="stylesheet" />
</head>

<body>
	<div th:replace="fragments/navbar.html :: content"></div>
	<div class="container-fluid">
		<div class="box box-main">
			<div class="box-title">
				<i class="icon-database"></i> <span th:text="#{menu.role}">Role</span>
			</div>
			<div class="box-content">
				<div class="toolbar clearfix">
					<div th:replace="fragments/search.html :: search (@{/data/role})"></div>
					<div class="float-right">
						<a class="btn btn-sm btn-light" th:href="@{/data/role/form}">
							<i class="icon-plus"></i><span>Add</span>
						</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th width="40px">#</th>
								<th><a href="#">Nama <i class="icon-sort-up"></i></a></th>
								<th width="70px"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Role Name 1</td>
								<td class="action">
									<a class="text-danger" href="#">
										<i class="icon-trash"></i>
									</a>
									<a class="text-dark" href="#">
										<i class="icon-edit"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="toolbar">
					<a class="btn btn-sm btn-light disabled" href="#">
						<i class="icon-left-open-outline"></i>
						<span>Previous</span>
					</a>
					<a class="btn btn-sm btn-light" href="#">
						<span>Next</span>
						<i class="icon-right-open-outline"></i>
					</a>
				</div>
				<div class="toolbar" th:if="${page.getTotalElements() > 0}">
					<div th:utext="${@linkService.previousLink()}" th:remove="tag"></div>
					<div th:utext="${@linkService.nextLink()}" th:remove="tag"></div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/main.min.js" th:src="@{/js/main.min.js}"></script>
	<script src="/js/thymeleaf.js" th:src="@{/js/thymeleaf.js}"></script>
</body>

</html>