<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: content(title=#{application.name} + ' : ' + #{menu.role})">
	<title>Bloghu</title>
	<link href="/image/favicon.ico" rel="shorcut icon" />
	<link href="/css/main.css" rel="stylesheet" />
</head>

<body>
	<div th:replace="fragments/navbar.html :: content"></div>
	<div class="container-fluid">
		<div class="box box-main">
			<div class="box-title">
				<i class="icon-database"></i> <span th:text="#{menu.role}">Role</span>
			</div>
			<div class="box-content">
				<div class="toolbar clearfix">
					<div th:replace="fragments/search.html :: search (@{/data/role})"></div>
					<div class="float-right">
						<a class="btn btn-sm btn-light" th:href="@{/data/role/form}">
							<i class="icon-plus"></i>
						</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th width="40px">#</th>
								<th th:utext="${@linkService.sortLink('name')}">Name</th>
								<th width="60px"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="role,row : ${page}" th:if="${page.getTotalElements() > 0}">
								<td th:text="${row.count + (page.number * page.size)}">1</td>
								<td th:text="${role.name}">Role Name</td>
								<td class="action">
									<a class="text-danger" href="#" th:onclick="'return showDialog(\'' + @{'/data/role/' + ${role.id}} + '\',\'' + #{message.delete-data} + '\')'">
										<i class="icon-trash"></i>
									</a>
									<a class="text-dark" href="#" th:href="@{'/data/role/form/' + ${role.id}}">
										<i class="icon-edit"></i>
									</a>
								</td>
							</tr>
							<tr th:if="${page.getTotalElements() == 0}">
								<td colspan="3" class="no-data">
									<span th:text="#{message.no-data}">Data tidak ditemukan</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="toolbar" th:if="${page.getTotalElements() > 0}">
					<div th:utext="${@linkService.previousLink()}" th:remove="tag"></div>
					<div th:utext="${@linkService.nextLink()}" th:remove="tag"></div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/main.min.js" th:src="@{/js/main.min.js}"></script>
	<script src="/js/dummy.js" th:src="@{/js/dummy.js}"></script>
</body>

</html>